.startButton{
  border: none;
  background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);

  color: #1a1a1a;
  font-size: 20px;
}

.LoginSingUpButton{
  border: none;
  background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
  width: auto;
  color: #1a1a1a;
  font-size: 20px;
}

.LogOutButton{
  border: none;
  background: linear-gradient(135deg, #aad992 0%, #334cc9 100%);
  width: auto;
  color: #131010;
  font-size: 20px;
}