.startPage{
  padding-top: 4em;
  background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
  min-height: 100vh;
.content {

  text-align: center;

  .card {
    margin-top: 2em;
    padding: 4em;
    align-items: center;
  }
}

}